{% set module = 'social-auth' %}

{{ attach_library('social_auth/auth-icons') }}

<div class="seperator">OR</div>
{% for social_network in social_networks %}
  {% if destination %}
    <a class="{{ module }} auth-link" href="{{ path(social_network.route) }}?destination={{ destination }}">
  {% else %}
    <a class="{{ module }} auth-link" href="{{ path(social_network.route) }}">
  {% endif %}
    <img class="{{ module }} auth-icon" src="{{ base_path }}{{ social_network.img_path }}" alt="">
    {% if 'github' in social_network.route %}
      Log in with Github
    {% elseif 'google' in social_network.route %}
      Log in with Google
    {% endif %}
  </a>
{% endfor %}
<a class="social-auth auth-link" href="#">
  <img class="social-auth auth-icon saml" src="/themes/custom/opendevx/images/saml.png" alt="">
  Log in with SSO
</a>
