{# Header Twig #}

<header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t}}">
  <div class='container'>
    {% block head %}
      {% if page.header %}
        {{ page.header }}
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#CollapsingNavbar" aria-controls="CollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      {% endif %}
      <nav{{navbar_attributes}}>
        {% if container_navbar %}
          <div class="container">
          {% endif %}
          {% if page.primary_menu or page.header_form %}
            <div class="collapse navbar-collapse" id="CollapsingNavbar">
              {{ page.primary_menu }}
              {% if page.header_form %}
                <div class="form-inline navbar-form justify-content-end">
                  {{ page.header_form }}
                </div>
              {% endif %}
            </div>
          {% endif %}
          {% if sidebar_collapse %}
            <button class="navbar-toggler navbar-toggler-left" type="button" data-toggle="collapse" data-target="#CollapsingLeft" aria-controls="CollapsingLeft" aria-expanded="false" aria-label="Toggle navigation"></button>
          {% endif %}
          {% if container_navbar %}
          </div>
        {% endif %}
      </nav>
    {% endblock %}
  </div>
</header>
