{#
/**
 * @file
 */
#}
{% if currentOrganisation is not empty %}
  <div class="select-program collapsed" data-toggle="collapse" data-target=".dashboard-user-program-header">
    {{ currentOrganisation }}
  </div>
  <div class="dashboard-user-program-header">
    <div class='program_left'>
      <h1 class="program_title">{{ orgTitle }}</h1>
      <div class="program_desc">{{ orgDescription }}
      </div>
    </div>
    <div class="programgroup program_right">
      <div class="dashboard-program" id="dashboard-program">
        {% for key, value in orgData %}
          {% set check = 'inactive' %}
          {% if currentOrganisation == value.orgName %}
            {% set check = 'active' %}
          {% endif %}
          <a href="{{ value.orgPath }}">
            {% if value.orgImage is empty %}
              <div class="no-image {{ check }}"></div>
            {% else %}
              <div class="program-image {{ check }}">
                <img class="program-image" src="{{ value.orgImage }}"></div>
            {% endif %}
            <div class='programname'>{{ value.orgName }}</div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
